<p>
  <mat-toolbar>
    <span>Estadística</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>question_mark</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon style="color: #D90429;">opacity</mat-icon>
        <span>Muy malo -30</span>
      </button>
      <button mat-menu-item>
        <mat-icon style="color: #F77F00;">opacity</mat-icon>
        <span>Malo -60</span>
      </button>
      <button mat-menu-item>
        <mat-icon style="color: #38B000;">opacity</mat-icon>
        <span>Bueno -90 </span>
      </button>
      <button mat-menu-item>
        <mat-icon style="color: #4361EE;">opacity</mat-icon>
        <span>Excelente 100%</span>
      </button>
    </mat-menu>
    <button (click)="openBottomSheet()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</p>
<form [formGroup]="FormDates">
  <div class="container text-center">
    <h1 class="mt-6">GOBIERNO AUTONOMO MUNICIPAL DE SACABA</h1>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <div class="card shadow">
          <h3 class="card-header">RECAUDACION AL: {{earning?.lastRecord?.date|date:'longDate'}}</h3>
          <div class="card-body">
            <app-gauge [chartData]="chartDataEarning"></app-gauge>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              RECAUDADO: {{totalEarning.current|currency:"Bs."}}
            </li>
            <li class="list-group-item">
              PROYECTADO {{totalEarning.projection|currency:"Bs."}}
            </li>
          </ul>
          <div class="card-footer">
            <button mat-raised-button color="primary" (click)="viewDetailsEarning()">VER MAS</button>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow">
          <h3 class="card-header">EJECUCION AL {{execution?.lastRecord?.date|date:'longDate'}}</h3>
          <div class="card-body">
            <app-gauge [chartData]="chartDataExecution"></app-gauge>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              EJECUTADO: {{totalExecution.current|currency:"Bs."}}
            </li>
            <li class="list-group-item">
              TOTAL: {{totalExecution.projection|currency:"Bs."}}
            </li>
          </ul>
          <div class="card-footer">
            <button mat-raised-button color="primary" (click)="viewDetailsExecution()">VER MAS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>