<h2 mat-dialog-title>Subir informacion</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="FormData">
        <div class="container text-center">
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Actividades</mat-label>
                    <input matInput formControlName="actividades">
                    <span matSuffix>Bs.</span>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Inmuebles</mat-label>
                    <input matInput formControlName="inmuebles">
                    <span matSuffix>Bs.</span>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Tasas</mat-label>
                    <input matInput formControlName="tasas">
                    <span matSuffix>Bs.</span>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Vehiculos</mat-label>
                    <input matInput formControlName="vehiculos">
                    <span matSuffix>Bs.</span>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Fecha de actualizacion</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-raised-button color="primary" (click)="loadExcelFile()">Cargar</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>