<h2 mat-dialog-title>Registrar proyeccion</h2>
<mat-dialog-content class="mat-typography">
    
    <table cdk-table [dataSource]="dataSource">
        <ng-container *ngFor="let item of displayedColumns" [cdkColumnDef]="item">
            <th cdk-header-cell *cdkHeaderCellDef> {{item}} </th>
            <td cdk-cell *cdkCellDef="let element"> {{element[item]}} </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>