<div class="grid-container">
  <h1 class="mat-h1">Fecha actualizacion: {{date|date:'medium'}}</h1>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-doughnut-chart *ngIf="card.title=='EJECUCION PRESUPUESTARIA'"
            [data]="dataService.dataEjecucion"></app-doughnut-chart>
          <app-doughnut-chart *ngIf="card.title=='RECAUDACION'"
            [data]="dataService.dataRecaudacion"></app-doughnut-chart>
          <app-bar-chart *ngIf="card.title=='bar'"></app-bar-chart>
          <table *ngIf="card.title=='TABLA'" cdk-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container cdkColumnDef="position">
              <th cdk-header-cell *cdkHeaderCellDef> No. </th>
              <td cdk-cell *cdkCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef> Name </th>
              <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container cdkColumnDef="weight">
              <th cdk-header-cell *cdkHeaderCellDef> Weight </th>
              <td cdk-cell *cdkCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container cdkColumnDef="symbol">
              <th cdk-header-cell *cdkHeaderCellDef> Symbol </th>
              <td cdk-cell *cdkCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>