<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item [routerLink]="'budgets/dashboard'">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>Estadisticas</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'budgets/records'">
        <mat-icon matListItemIcon>app_registration</mat-icon>
        <span matListItemTitle>Registros</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'budgets/collection/comparison'">
        <mat-icon matListItemIcon>app_registration</mat-icon>
        <span matListItemTitle>Comparacion recaudacion</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>