<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <a matListItemTitle>Estadisticas</a>
      </mat-list-item>
      <mat-list-item [routerLink]="'manage'">
        <mat-icon matListItemIcon>app_registration</mat-icon>
        <a matListItemTitle>Registros</a>
      </mat-list-item>
      <mat-list-item [routerLink]="'information'">
        <mat-icon matListItemIcon>table</mat-icon>
        <a matListItemTitle>Lectura</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>